        /* homepage */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f9f9f9;
  color: #333;
}

header {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #39c8ec;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 600px;
  width: 100%;
}

.card {
  display: block;
  padding: 1.5rem;
  border-radius: 8px;
  background: white;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card h2 {
  margin-top: 0;
}

.about-me {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
  flex-wrap: wrap;
}

.about-text {
  flex: 2;
  min-width: 280px;
}

.about-img {
  flex: 1;
  min-width: 150px;
}

.about-img img {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #e0e0e0;
}

        /* Tableau */
.dashboard-gallery {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
    }

.dashboard-gallery h2 {
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.img-row {
  display: flex;
  justify-content: center;   
  align-items: center;
  gap: 1.5rem;               
  margin-bottom: 1rem;
}

.img-row img {
  width: 35%;              
  max-width: 1000px;          
  border-radius: 8px;
  object-fit: cover;
}

.desc {
  margin-left: 1.2rem;
  margin-bottom: 2rem;
}

.desc li {
  line-height: 1.5;
}
.download-btn {
      display: block;
      width: fit-content;
      margin: 2rem auto;
      padding: 0.8rem 1.5rem;
      background-color: #39c8ec;
      color: white;
      border: none;
      border-radius: 6px;
      text-decoration: none;
      font-size: 1rem;
      transition: background 0.2s ease;
    }

.download-btn:hover {
      background-color: #39c8ec;
    }
